<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd

		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.jingguan.*" >
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>



    <!--项目基本信息配置-->
    <bean id="projectInfo" class="com.jingguan.system.config.ProjectInfo">
        <!--项目名称-->
        <property name="projectName" value="teachers"/>
        <property name="startPrivilege" value="false"/>
    </bean>


    <!--表单提交含文件，表单提交的是request payload-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="maxInMemorySize" value="10240000"></property>
    </bean>

    <!-- google kaptcha 这个和验证码有关系的相关配置,验证码生成工具-->
    <bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
        <property name="config">
            <bean class="com.google.code.kaptcha.util.Config">
                <constructor-arg>
                        <props>
                            <!-- 是否有边框 可选yes 或者 no -->
                            <prop key="kaptcha.border">no</prop>
                            <!-- 边框颜色 -->
                            <prop key="kaptcha.border.color">105,179,90</prop>
                             <!-- 验证码文本字符颜色 -->
                             <prop key="kaptcha.textproducer.font.color">blue</prop>
                             <!-- 验证码文本字符大小 -->
                             <prop key="kaptcha.textproducer.font.size">45</prop>
                             <!-- 验证码图片的宽度 默认200 -->
                             <prop key="kaptcha.image.width">200</prop>
                             <!-- 验证码图片的高度 默认50 -->
                             <prop key="kaptcha.image.height">50</prop>
                             <!-- 验证码文本字符长度  默认为5 -->
                             <prop key="kaptcha.textproducer.char.length">4</prop>
                             <!-- 验证码文本字体样式  默认为new Font("Arial", 1, fontSize), new Font("Courier", 1, fontSize)  -->
                             <prop key="kaptcha.textproducer.font.names">宋体,楷体,微软雅黑</prop>
                         </props>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <!--<bean class="com.jingguan.system.filter.PrivilegeManageFilter" id="privilegeManageFilter"></bean>-->

    <!--<bean class="com.hqu.utils.FileUtils">-->
        <!--<property name="additionFilePath" value="upload">-->
        <!--</property>-->
    <!--</bean>-->

    <!--<context:component-scan base-package="com.jingguan.*.dao.impl, com.jingguan.*.service.impl"/>-->

    <aop:aspectj-autoproxy/>

</beans>