<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd

		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.jingguan.*" >
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>



    <!--项目基本信息配置-->
    <bean id="projectInfo" class="com.jingguan.system.config.ProjectInfo">
        <!--项目名称-->
        <property name="projectName" value="teachers"/>
        <property name="startPrivilege" value="false"/>
    </bean>


    <!--表单提交含文件，表单提交的是request payload-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="maxInMemorySize" value="10240000"></property>
    </bean>

    <!--<bean class="com.jingguan.system.filter.PrivilegeManageFilter" id="privilegeManageFilter"></bean>-->

    <!--<bean class="com.hqu.utils.FileUtils">-->
        <!--<property name="additionFilePath" value="upload">-->
        <!--</property>-->
    <!--</bean>-->

    <!--<context:component-scan base-package="com.jingguan.*.dao.impl, com.jingguan.*.service.impl"/>-->

    <aop:aspectj-autoproxy/>

</beans>