<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
       <!-- <property name="connection.url">jdbc:mysql://127.0.0.1:3306/jg_teachers?characterEncoding=UTF-8</property>
       --> <property name="connection.url">jdbc:mysql://192.168.213.253:3306/jg_teachers?characterEncoding=UTF-8</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.jingguan.system.po.TUsersEntity"/>
        <mapping class="com.jingguan.system.po.TModulesEntity"/>
        <mapping class="com.jingguan.system.po.TRoleModulesEntity"/>
        <mapping class="com.jingguan.system.po.TRolesEntity"/>
        <mapping class="com.jingguan.system.po.TUsersRoleEntity"/>
        <mapping class="com.jingguan.system.po.VUserModulesEntity"/>
        <mapping class="com.jingguan.baseInfo.po.TTeacherBaseinfoEntity"/>
        <mapping class="com.jingguan.baseInfo.po.TAbilityProjectEntity"/>
        <mapping class="com.jingguan.baseInfo.po.TAbroadsEntity"/>
        <mapping class="com.jingguan.baseInfo.po.TArticleEntity"/>
        <mapping class="com.jingguan.baseInfo.po.TEducateDegreeEntity"/>
        <mapping class="com.jingguan.baseInfo.po.TEducateScientificEntity"/>
        <mapping class="com.jingguan.baseInfo.po.TEducationExperienceEntity"/>
        <mapping class="com.jingguan.baseInfo.po.TFunctionsEntity"/>
        <mapping class="com.jingguan.baseInfo.po.TGraduateSchoolEntity"/>
        <mapping class="com.jingguan.baseInfo.po.TModulesEntity"/>
        <mapping class="com.jingguan.baseInfo.po.TMoreLanguageEntity"/>
        <mapping class="com.jingguan.baseInfo.po.TRoleFunctionsEntity"/>
        <mapping class="com.jingguan.baseInfo.po.TRoleModulesEntity"/>
        <mapping class="com.jingguan.baseInfo.po.TRolesEntity"/>
        <mapping class="com.jingguan.baseInfo.po.TScientificEntity"/>
        <mapping class="com.jingguan.baseInfo.po.TUsersEntity"/>
        <mapping class="com.jingguan.baseInfo.po.TUsersRoleEntity"/>
        <mapping class="com.jingguan.baseInfo.po.VUserModulesEntity"/>
        <mapping class="com.jingguan.honorStatistics.po.THonorStatisticsEntity"/>
        <mapping class="com.jingguan.technology.po.TTechnologyEntity"/>
        <mapping class="com.jingguan.baseInfo.po.TWorkExperienceEntity"/>
        <mapping class="com.jingguan.degree.po.VDegreeInfoEntity"/>
        <mapping class="com.jingguan.degree.po.TEducateDegreeEntity"/>
        <mapping class="com.jingguan.article.po.TArticleEntity"/>
        <mapping class="com.jingguan.copyRight.po.TCopyrightEntity"/>
        <mapping class="com.jingguan.admin.po.VAdminArticleEntity"/>
        <mapping class="com.jingguan.admin.po.TCopyrightEntity"/>
        <mapping class="com.jingguan.admin.po.VAdminCopyrightEntity"/>
        <mapping class="com.jingguan.abilityProject.po.TAbilityProjectEntity"/>
        <mapping class="com.jingguan.admin.po.TAbilityProjectEntity"/>
        <mapping class="com.jingguan.admin.po.VAdminAbilityprojectEntity"/>
        <mapping class="com.jingguan.teacherActivity.po.TTeacherActivityEntity"/>
        <mapping class="com.jingguan.sciencePrize.po.TEducateScientificEntity"/>
        <mapping class="com.jingguan.project.po.TScientificEntity"/>
        <mapping class="com.jingguan.scientificResearchMaterials.po.TScientificresearchmaterialsEntity"/>
        <mapping class="com.jingguan.manageTeachers.po.VUsersRoleBaseinfoEntity"/>
        <mapping class="com.jingguan.manageTeachers.po.TTeacherBaseinfoEntity"/>
        <mapping class="com.jingguan.manageTeachers.po.VManageteachersBaseinfoEntity"/>
        <mapping class="com.jingguan.manageTeachers.po.TUsersEntity"/>
        <mapping class="com.jingguan.manageTeachers.po.VTeachersAccountsEntity"/>
        <mapping class="com.jingguan.manageTeachers.po.TUsersRoleEntity"/>
        <mapping class="com.jingguan.project.po.SrcFileMan"/>
        <mapping class="com.jingguan.project.po.TProjectUserEntity"/>
        <mapping class="com.jingguan.project.po.TScientificEntity"/>
        <mapping class="com.jingguan.project.po.VProjectEntity"/>
        <mapping class="com.jingguan.project.po.VProjectUserEntity"/>
        <mapping class="com.jingguan.project.po.UserId"/>
        <mapping class="com.jingguan.sciencePrize.po.TEducateScientificEntity"/>
        <mapping class="com.jingguan.sciencePrize.po.UploadFilePo"/>
        <mapping class="com.jingguan.teacherActivity.po.CertificateUpload"/>
        <mapping class="com.jingguan.teacherActivity.po.TTeacherActivityEntity"/>
        <mapping class="com.jingguan.teacherActivityCheck.po.TTeacherActivityEntity"/>
        <mapping class="com.jingguan.teacherActivityCheck.po.VTeachersActivityCheckEntity"/>
        <mapping class="com.jingguan.teacherActivityCheck.po.TChangeStatus"/>
        <mapping class="com.jingguan.sciencePrizeCheck.po.TChangeStatus"/>
        <mapping class="com.jingguan.sciencePrizeCheck.po.VTeachersPrizeCheckEntity"/>
        <mapping class="com.jingguan.teacherMaterials.po.TimeMan"/>
        <mapping class="com.jingguan.teacherMaterials.po.TTeachingMaterialEntity"/>
        <mapping class="com.jingguan.projectCheck.po.TChangeStatus"/>
        <mapping class="com.jingguan.projectCheck.po.TScientificEntity"/>
        <mapping class="com.jingguan.teachingMaterialsInAdmin.po.TAdminTeachingMaterialsEntity"/>
        <mapping class="com.jingguan.changePwd.po.TUsersEntity"/>
        <mapping class="com.jingguan.common.po.TTeacherBaseinfoEntity"/>
        <mapping class="com.jingguan.teacherMaterialsCheck.po.VTeacherMaterialsEntity"/>
        <!--<mapping class="com.jingguan.project.po.VAdminProjectEntity"/>-->
        <mapping class="com.jingguan.common.po.TArticleEntity"/>
        <mapping class="com.jingguan.messageBoard.po.TMessageAboardEntity"/>
        <mapping class="com.jingguan.messageBoard.po.VMessageboardEntity"/>
        <mapping class="com.jingguan.teachingArchives.po.TAdminTeachingMaterialsEntity"/>
        <mapping class="com.jingguan.collegeArchives.po.TAdminTeachingMaterialsEntity"/>
        <mapping class="com.jingguan.scientificArchives.po.TAdminTeachingMaterialsEntity"/>
        <mapping class="com.jingguan.admin.po.TArticleEntity"/>
        <mapping class="com.jingguan.manageTeachers.po.TEducateDegreeEntity"/>
        <mapping class="com.jingguan.manageTeachers.po.TTeacherBaseinfoUpdate"/>
        <mapping class="com.jingguan.student.po.TStudentEntity"/>
        <mapping class="com.jingguan.student.po.TPostgraduateArticleEntity"/>
        <mapping class="com.jingguan.student.po.TPostgraduateKeyanEntity"/>
        <mapping class="com.jingguan.student.po.TPostgraduateJingsaiEntity"/>
        <mapping class="com.jingguan.student.po.TStuAbroadEntity"/>
        <mapping class="com.jingguan.student.po.TStuInfoEntity"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>